@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #D8D2B6;    
    font-family: "Lato", 'Times New Roman', Times, serif;
    font-weight: 400;
    /* overflow: hidden; */

}

.header {
    display: block;
    width: fit-content;
    margin: 2% auto;
    background-color: #FAD8B4;
    padding: 15px;
    border: 3px solid #A5522F;
    border-radius: 10px;
}

h1 {
    color: #443F25;
    text-align: center;
    background-color: inherit;
}

.bodydiv {
    display: block;
    width: 50%;
    padding: 2rem 0 0 0;
    margin: 0 auto 2rem auto;
    background-color: #7B9679;    
    border: 4px solid #AD9448;
    border-radius: 10px;
    min-width: 384px;
}

.bodydiv-other-pages {
    display: block;
    width: 50%;
    padding: 2rem 1rem 1rem 2rem;
    margin: 0 auto 2rem auto;
    background-color: #7B9679;    
    border: 4px solid #AD9448;
    border-radius: 10px;
    min-width: 384px;
}

.man {
    position: relative;
    display: block;
    width: 80%;
    height: auto;
    margin: 0 auto;
    border: 4px solid #A5522F;
    border-radius: 5px;
}

.recipes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-width: 376px;

}

.recipes div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    flex-basis: 0;
    margin: 2rem 0 2rem 0;
    min-width: 125px;


    text-align: center;
}

div img {
    margin: 0 auto;
    width: 10vw;
    border: 2px solid #A5522F;
}

.other-page-img {
    display: block;
    margin: 0 auto;
    width: 30%;
}

.chixDiv {
    gap: 1.4rem;
    margin-bottom: 3rem;
    min-width: 140px;
    height: 150px;
}

/* #chix {
    width: 87.5px;
    height: 87.5px;
} */


.recipes, a, p, .recipes div {
    background-color: inherit;
    color: #443F25;
}

a {
    color: inherit;
    text-decoration: none;
}

ul, ol, li, h3, h4 {
    background-color: inherit;
    color: #443F25;
}

h3 {
    margin-top: 1rem;
}

.home-link {
    text-align: center;
    margin: 2rem auto;
    font-size: 1rem;
    transition: ease font-size .2s;
}

.home-link:hover, p:hover {
    text-decoration: underline;
    font-size: 1.2rem;
}

p {
    transition: ease font-size .2s;
}